<center><h1 style="color:red">E R R O R !</h1></center>

<strong>{{error.message}}</strong>
<p>{{error.stack}}</p>
<main align="center">
    <image src="https://solutiondots.com/wp-content/uploads/2015/06/defaultTemplate.png"></image>
</main>
