<h1>About Page</h1>




<h1>Collection of Information: cars (secondhand)</h1>
<h1>Security: Passport.JS</h1>
<main>
    <div class="info">
        <p>Team: &copySoftUni</p>
        <p>Owner: RAIDERS</p>
        <p>email: Setty_ii@abv.bg</p>
    </div>
</main>


