<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article class="mx-auto">

                <header><h4>Email: <span class="text-warning">{{email}}</span></h4></header>
                <h4>Full name: <span class="text-warning">{{fullName}}</span></h4>
                <h4>Created rticles: <span class="text-warning">{{articlesCount}}</span></h4>
                <h4>User role: <span class="text-warning">{{role}}</span></h4>
                <hr>
            </article>
        </div>
    </div>
</div>