<div class="container">

    <h1 class="my-4 text-center">Now playing : Routing</h1>

    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src=https://www.youtube.com/embed/tiMLxUKrB-g> </iframe> </div> </div>
                <h3 class="text-center">Lectures List</h3>

                <ul class="list-group">

                    <li class="list-group-item">
                        <h5 class="mb-1">Conrollers</h5>
                        <span class="float-right">
                            <a href="#"><button class="btn btn-secondary">Play</button></a>
                        </span>
                    </li>

                    <li class="list-group-item">
                        <h5 class="mb-1">Routing</h5>
                        <span class="float-right">
                            <a href="#"><button class="btn btn-secondary">Play</button></a>
                        </span>

                    </li>

                    <li class="list-group-item">
                        <h5 class="mb-1">Achitecture</h5>
                        <span class="float-right">
                            <a href="#"><button class="btn btn-secondary">Play</button></a>
                        </span>
                    </li>

                </ul>
        </div>
    </div>
</div>