<section id="home">
    <h1>Welcome to our Car Renting System Web-App!</h1>

    <div class="stats">
        <h2>Stats of rent cars!</h2>
        <div class="stats-car">
             <h3>Free rent cars - {{freeCars}}</h3>
            <h3>Rented cars - {{rentedCars}}</h3>
        </div>
    </div>
</section>