<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico"/>
</head>

<body>

    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="../public/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                   
                    <div class="error" id="errBox">
                        <div class="err"><center><h1>404 Page Not Found!</h1></center></div>
                    </div>  
                    <center><img src="../public/images/3-2.png"></center>
                
            </nav>
        </div>
    </header>

    
</body>
<footer>
        <div class="footerTeam"><strong>&copy 2018 RAIDERS Team - All Right Reserved</strong></div>
</footer>
</html>