<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

    {{> header}}
<body>
    <div class="container">
      
         {{{body}}}
         
    </div>
    
</body>
    {{> footer}}
</html>